<tr>
	<td> <%= car.model %> </td>
	<td> <%= car.battery_capacity %> KW/h </td>
	<td> <%= link_to "Edit", edit_car_path(car) %> </td>
	<td> <%= link_to "Delete", car, method: "delete", data: { confirm: "Are you sure?" } %> </td>
</tr>
